.stories{
    display: flex;
    gap: 1vh;
    align-items: flex-start;
    margin: 2vh 0;
    /* border: 1px solid rgb(111, 255, 27); */
    /* border-radius: 0vw 2vw 2vw 0vw; */
    width: 100%;
    overflow: hidden;
    user-select: none;
}
.story{
    cursor: pointer;
    /* border: 1px solid red; */
    height: 27vh;
    /* min-width: 130px; */
    /* margin-left: 1vh; */
    /* border: 2px solid red; */
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 2vw;
}

.story::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    bottom: 0;
    background: linear-gradient(transparent,transparent,var(--color-primary));
}

.story .user{
    position: absolute;
    margin-top: 1vh;
    margin-left: 1vh;
    border: 2px dashed var(--color-primary);
    border-radius: 50%;
}

.story img{
    height: 100%;
    aspect-ratio: 1/1;
}

.stories h5{
    text-align: center;
    color: var(--color-soft);
}
.full-story h5{
    color: black;
}
.full-story{
    flex: 1;
    position: relative;
    cursor: pointer;
}

.full-story label{
    cursor: pointer;
    position: absolute;
    color: white;
    z-index: 111;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-65%);
    font-size: 2.5vw;
}
/* .full-story input{

} */
/* .story1 h5{
    position: relative;
    bottom: 3vw;
    color: white;
    text-align: center;
} */

@media (max-width:700px){
    .story{
        height: 100%;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .story .user{
        display: none;
    }
    .stories h5{
        display: none;
    }
}