.rightbar{
    /* height: calc(100vh - 10vh); */
    height: 100vh;
    background-color: var(--color-card);
    position: sticky;
    top: 0px;
    right: 0px;
    overflow: auto;
    /* border: 2px solid red; */

}

.rightbar::-webkit-scrollbar{
    display: none;
}

.right-container{
    width: 80%;
    margin: 0vh auto;
}

@media (max-width:700px){
    .rightbar{
        display: none;
    }
}